@font-face {
    font-family: Uthman;
    src: url('../fonts/UthmanTN1 Ver10.otf');
}

@font-face {
    font-family: UthmanB;
    src: url('../fonts/UthmanTN1B Ver10.otf');
}

html, body {
    background-color: #F5FFEA;
    color: #333;
    line-height: 1.75;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.clear {
    clear: both;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

#wrap {
    margin-top: 0em;
}

.navbar {
    background: #203319;
    position: fixed;
    width: 100%;
    min-height: 2em;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    color: #EFE;
    font-size: 70%;
    border-bottom: 1px solid rgba(40, 240, 20, 0.5);
    box-shadow: 1px 0 4px 2px rgba(40, 240, 20, 0.23);
}

.navbar a:link, .navbar a:visited {
    color: #EFE;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.navbar a:last-child {
    margin-right: 2em;
}

.navbar .btn {
    padding: 0 0.5em;
    border: 1px solid #575;
    display: inline-block;
}

.navbar #main-menu-btn {
    margin-right: 2em;
}

.content {
    margin: 1em;
    padding-top: 3em;
    color: #373322;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.03);
}

.quran .verse {
    clear: both;
    border-bottom: 1px solid #E5EEDB;
    padding: 0.5em 0;
}

.quran .arabic-text {
    float: right;
    max-width: 48%;
    text-align: right;
    direction: rtl;
    line-height: 2.3;
    font-size: 150%;
    font-family: UthmanB, Uthman, Arial, Helvetica;
}

.quran .translation {
    float: left;
    max-width: 48%;
    font-size: 100%;
    line-height: 1.4;
    font-family: georgia, sans-serif, "times new roman";
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    html, body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
    }
    
    p {
        padding-bottom: 1em;
    }

    .quran p {
        padding-bottom: 0;
    }

    .navbar a:link, .navbar a:visited {
        font-size: 14px;
    }


    .content {
        margin: 0.5em;
    }
}
